body {
  font-family: 'Montserrat', sans-serif;
}

.app-transition {
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.h-screen {
  height: 100vh;
}

.center-items {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}

@for $width from 0 to 100 {
  .vz-w-#{$width} {
    width: #{$width}px;
  }
}

.vz-reverse-card {
  flex-direction: row-reverse;
  @include mobile {
  }
}

.center-hoz {
  @extend .d-flex;
  @extend .justify-content-center;
}
